{{#paper-card class="employee-item" as |card|}}
  <img class="employee-item__img" src="employee.image" alt="{{employee.firstName}} {{employee.lastName}}" title="{{employee.firstName}} {{employee.lastName}}">
  {{#card.title class="employee-item__title" as |title|}}
    {{#title.text as |text|}}
      {{#text.headline class="employee-item__title-text"}}{{employee.firstName}} {{employee.lastName}}{{/text.headline}}
    {{/title.text}}
  {{/card.title}}
  {{#card.content}}
    <p class="employee-item__text">Position: {{employee.position}}</p>
    <p class="employee-item__text">Team: {{employee.team}}</p>
    <p class="employee-item__text">Start date: {{employee.startDate}}</p>
    <p class="employee-item__text">Birthday: {{employee.birthday}}</p>
  {{/card.content}}
  {{#card.actions class="layout-row"}}
    {{#paper-button class="employee-item__btn flex" onClick=(action (route-action "visitEmployee" employee))}}<div>Read more</div>{{/paper-button}}
  {{/card.actions}}
  {{!-- {{#card.actions class="layout-row"}}
    {{#paper-button class="flex-50"}}<div onclick={{action (route-action "updateEmployee" employee)}}>Update</div>{{/paper-button}}
    {{#paper-button class="flex-50"}}<div onclick={{action (route-action "deleteEmployee" employee)}}>Delete</div>{{/paper-button}}
  {{/card.actions}} --}}
{{/paper-card}}
