{{#data-table class="employees-table-manager" data=data genders=genders companies=companies teams=teams positions=positions
classNames=tableClassNames as |t|}} {{#t.column class="employees-table-manager__columns" as |col|}} {{#if col.body}}
<img src="{{col.row.image}}" alt="{{col.row.firstName}} {{col.row.lastName}}" class="employees-table-manager__image"> {{/if}} {{/t.column}} {{t.column class="employees-table-manager__columns" propertyName='firstName' name='First name'}} {{t.column
class="employees-table-manager__columns hidden-xs" propertyName='lastName' name='Last Name'}} {{t.column class="employees-table-manager__columns
hidden-xs hidden-sm" propertyName='position.optionName' name='Position'}} {{t.column class="employees-table-manager__columns
hidden-xs hidden-sm" propertyName='team.optionName' name='Team'}} {{#t.column class="employees-table-manager__columns" as
|col|}} {{#if col.body}}
<button class="button btn btn-info" data-toggle="button" aria-pressed="false" autocomplete="off" onclick={{action
  'toggleDetail' col.rowIndex}}>
  {{#if (eq col.rowIndex rowIndexToShowDetail)}} Hide {{else}} Edit {{/if}}
</button>
{{/if}} {{/t.column}} {{#t.extraRow as |er|}} {{#if (eq er.rowIndex rowIndexToShowDetail)}}
<td colspan="5">
  <div class="employees-table-manager__rows layout-row layout-align-center-center">
    {{paper-input required=true class="flex" label="First Name:" type="text" value=er.row.firstName onChange=(action (mut er.row.firstName))}}
  </div>
  <div class="employees-table-manager__rows layout-row layout-align-center-center">
    {{paper-input required=true class="flex" label="Last Name:" type="text" value=er.row.lastName onChange=(action (mut er.row.lastName))}}
  </div>
  <div class="employees-table-manager__rows layout-row layout-align-center-center">
    {{#paper-select options=genders class="flex" label="Gender" selected=er.row.gender required=true onChange=(action (mut er.row.gender))
    as |gender|}} {{gender.optionName}} {{/paper-select}}
  </div>
  <div class="employees-table-manager__rows layout-row layout-align-center-center">
    {{#paper-select options=companies class="flex" label="Company" selected=er.row.company required=true onChange=(action (mut
    er.row.company)) as |company|}} {{company.optionName}} {{/paper-select}}
  </div>
  <div class="employees-table-manager__rows layout-row layout-align-center-center">
    {{#paper-select options=positions class="flex" label="Position" selected=er.row.position required=true onChange=(action (mut
    er.row.position)) as |position|}} {{position.optionName}} {{/paper-select}}
  </div>
  <div class="employees-table-manager__rows layout-row layout-align-center-center">
    {{#paper-select options=teams class="flex" label="Team" selected=er.row.team required=true onChange=(action (mut er.row.team))
    as |team|}} {{team.optionName}} {{/paper-select}}
  </div>
  <div class="employees-table-manager__rows layout-row layout-align-center-center">
    {{paper-input required=true class="flex" label="Education:" type="text" value=er.row.education onChange=(action (mut er.row.education))}}
  </div>
  <div class="employees-table-manager__rows layout-column layout-align-center-stretch">
    <p style="margin: 0px; padding: 0px 2px; font-size: 10.5px; font-weight: bold; color: rgba(0, 0, 0, 0.54);">Education groups: *</p>
    {{#power-select-multiple class="flex" options=educations placeholder="Education groups: *" selected=er.row.educationGroup required=true
    onchange=(action (mut er.row.educationGroup)) as |education|}}
      {{education.optionName}}
    {{/power-select-multiple}}
  </div>
  <div class="employees-table-manager__rows layout-row layout-align-center-center">
    {{paper-input required=true class="flex" label="Expertise:" type="text" value=er.row.expertise onChange=(action (mut er.row.expertise))}}
  </div>
  <div class="employees-table-manager__rows layout-row layout-align-center-center">
    {{paper-input required=true class="flex" label="Skills:" type="text" value=er.row.skills onChange=(action (mut er.row.skills))}}
  </div>
  <div class="employees-table-manager__rows layout-row layout-align-center-center">
    {{paper-input required=true class="flex" label="Languages:" type="text" value=er.row.languages onChange=(action (mut er.row.languages))}}
  </div>
  <div class="employees-table-manager__rows layout-row layout-align-center-center">
    {{paper-input required=true class="flex" label="A song for good mood:" type="text" value=er.row.song onChange=(action (mut
    er.row.song))}}
  </div>
  <div class="employees-table-manager__rows layout-row layout-align-center-center">
    {{paper-input required=true class="flex" label="Hobbies and Interests:" type="text" value=er.row.hobbies onChange=(action
    (mut er.row.hobbies))}}
  </div>
  <div class="employees-table-manager__rows layout-column layout-align-center-stretch">
    <p style="margin: 0px; padding: 0px 2px; font-size: 10.5px; font-weight: bold; color: rgba(0, 0, 0, 0.54);">Hobby groups: *</p>
    {{#power-select-multiple class="flex" options=hobbies placeholder="Hobby groups: *" selected=er.row.hobbieGroup required=true
    onchange=(action (mut er.row.hobbieGroup)) as |hobbie|}}
      {{hobbie.optionName}}
    {{/power-select-multiple}}
  </div>
  <div class="employees-table-manager__rows layout-row layout-align-center-center">
    {{paper-input required=true class="flex" label="A thought that for inspiration:" type="text" value=er.row.thought onChange=(action
    (mut er.row.thought))}}
  </div>
  <div class="employees-table-manager__rows layout-row layout-align-center-center">
    {{paper-input required=true class="flex" label="A favorite book:" type="text" value=er.row.book onChange=(action (mut er.row.book))}}
  </div>
  <div class="employees-table-manager__rows layout-row layout-align-center-center">
    {{paper-input required=true class="flex" label="Pets:" type="text" value=er.row.pet onChange=(action (mut er.row.pet))}}
  </div>
  <div class="employees-table-manager__rows layout-row layout-align-center-center">
    {{paper-input required=true class="flex" label="Skype:" type="text" value=er.row.skype onChange=(action (mut er.row.skype))}}
  </div>
  <div class="employees-table-manager__rows layout-row layout-align-center-center">
    {{paper-input required=true type="email" class="flex" label="Email:" value=er.row.email onChange=(action (mut er.row.email))
    customValidations=emailValidation}}
  </div>
  <div class="employees-table-manager__rows layout-row layout-align-center-center">
    <div class="employees-table-manager__rows-text flex-15 flex-xs-30">Start Date:</div>
    <div class="flex-50 flex-xs-70">{{pikaday-input readonly="readonly" value=er.row.dateStart format="DD-MM-YYYY" class="form-control" name='dateStart'
      onSelection=(action (mut er.row.dateStart))}}</div>
  </div>
  <div class="employees-table-manager__rows layout-row layout-align-center-center">
    <div class="employees-table-manager__rows-text flex-15 flex-xs-30">Birthday:</div>
    <div class="flex-50 flex-xs-70">{{pikaday-input readonly="readonly" value=er.row.birthday format="DD-MM-YYYY" class="form-control" name='birthday' onSelection=(action
      (mut er.row.birthday))}}</div>
  </div>

  <div class="employee-form__image-container layout-row layout-sm-column layout-xs-column">
    {{image-upload data=er.row photoName='photo' updateButton='Update' addButton='' uploadMessage='Photo has been loaded.'}}
    {{image-upload data=er.row photoName='image' updateButton='Update' addButton='' uploadMessage='Image has been loaded.'}}
    {{image-upload data=er.row photoName='avatar' updateButton='Update' addButton='' uploadMessage='Avatar has been loaded.'}}
  </div>
  <div class="employees-table-manager__btns layout-row layout-align-center-center">
    <button class="employees-table-manager__btn btn btn-success" data-toggle="button" aria-pressed="false" autocomplete="off"
      onclick={{action 'showModalDialog' er.row 'saveChanges'}}>Save</button>
    <button class="employees-table-manager__btn btn btn-secondary" data-toggle="button" aria-pressed="false" autocomplete="off"
      onclick={{action 'showModalDialog' er.row 'discardChanges'}}>Discard</button>
    <button class="employees-table-manager__btn btn btn-danger" data-toggle="button" aria-pressed="false" autocomplete="off"
      onclick={{action 'showModalDialog' er.row 'deleteEmployee'}}>Delete</button>
  </div>
</td>
{{/if}} {{/t.extraRow}} {{/data-table}} {{#if showModal}} {{#modal-dialog okBtnText="Yes" cancelBtnText="No" cancel="closeModalDialog"
ok='actionModalDialog' modalTitle=modalTitle}}
<p>{{modalBody}}</p>
{{/modal-dialog}} {{/if}}