{{!-- <div class="menu">
  …
  {{#if session.isAuthenticated}}
    <a {{action 'invalidateSession'}}>Logout</a>
  {{else}}
    {{#link-to 'login'}}Login{{/link-to}}
  {{/if}}
</div>
<div class="main">
  {{outlet}}
</div> --}}
 
<div class="login-container layout-row layout-wrap layout-align-center-center">
  {{#if session.isAuthenticated}}
    <p>You have logged in successfully.</p>
    {{outlet}}
  {{else}}
    {{login-form}}
  {{/if}}
</div>
