<p>{{model.employee.firstName}}</p>
<p>{{model.employee.lastName}}</p>
<p>{{model.employee.position}}</p>
<p>{{model.employee.team}}</p>
<p>{{model.employee.startDate}}</p>
<p>{{model.employee.birthday}}</p>
{{#paper-button raised=true}}<div onClick={{action "prevEmployee" model.employee}}>Prev</div>{{/paper-button}}
{{#paper-button raised=true}}<div onClick={{action "nextEmployee" model.employee}}>Next</div>{{/paper-button}}
