{{outlet}}
<p>{{model.firstName}}</p>
<p>{{model.lastName}}</p>
<p>{{model.position}}</p>
<p>{{model.team}}</p>
<p>{{model.startDate}}</p>
<p>{{model.birthday}}</p>
{{#paper-button raised=true}}<div onClick={{action "prevEmployee" model}}>Prev</div>{{/paper-button}}
{{#paper-button raised=true}}<div onClick={{action "nextEmployee" model}}>Next</div>{{/paper-button}}
