{{!-- {{news-menu chapters=attrs.lastFiveNews}} --}}
{{!-- {{employee-list employees=attrs.lastFiveEmployees}} --}}
{{!-- {{employee-list employees=attrs.randomFiveemployees}} --}}
{{article-list articles=lastFiveNews}}

{{employee-list employees=lastFiveEmployees}}
{{employee-list employees=randomFiveemployees}}

<div class="feedback-container" onClick={{action "openPromptDialog"}}>
  <div class="feedback-content">
    <span><b>Feeedback / Recommendation</b></span>
  </div>
</div>
{{!-- {{#paper-button raised=true primary=true onClick=(action "openPromptDialog")}}
              Prompt dialog
{{/paper-button}} --}}
{{#if showPromptDialog}}
  {{#paper-dialog fullscreen=fullscreen onClose=(action "closePromptDialog" "cancel") origin=dialogOrigin}}

    {{#paper-dialog-content}}
      <h2 class="md-title">Please write your feedback below.</h2>
      {{paper-input placeholder="name or e-mail" autofocus=true value=data.email onChange=(action (mut data.email))}}
      {{paper-input textarea=true maxlength=500 passThru=(hash rows=5 maxRows=5) placeholder="feedback" value=data.feedbackString onChange=(action (mut data.feedbackString))}}
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button primary=true onClick=(action "closePromptDialog" "cancel")}}Discard{{/paper-button}}
      {{#paper-button primary=true onClick=(route-action "sendFeedback" data)}}Send{{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}}
