{{#paper-card class="employee-detailed-card" as |card|}}
  <div class="layout-gt-md-row layout-column layout-align-center-center">
    <div class="flex-50" style="padding: 10px; max-width: 512px;">
        <img  style="width: 100%;" src="{{model.employee.photo}}" alt="{{model.employee.firstName}} {{model.employee.lastName}}" title="{{model.employee.firstName}} {{model.employee.lastName}}">
    </div>
    <div class="flex-50 employee-details">
      <p class="employee-name">{{model.employee.firstName}} {{model.employee.lastName}}</p>
      <p class="employee-header">Position:</p>
      <p class="employee-values">{{model.employee.position}}</p>
      <p class="employee-header">Team:</p>
      <p class="employee-values">{{model.employee.team}}</p>
      <p class="employee-header">Educatin:</p>
      <p class="employee-values">{{model.employee.education}}</p>
      <p class="employee-header">Expertise:</p>
      <p class="employee-values">{{model.employee.expertise}}</p>
      <p class="employee-header">Languages:</p>
      <p class="employee-values">{{model.employee.languages}}</p>
      <p class="employee-header">Hobbies and Interests:</p>
      <p class="employee-values">{{model.employee.hobbies}}</p>
      <p class="employee-header">A song for good mood:</p>
      <p class="employee-values">{{model.employee.song}}</p>
      <p class="employee-header">A thought that for inspiration:</p>
      <p class="employee-values">{{model.employee.thought}}</p>
      <p class="employee-header">A favorite book:</p>
      <p class="employee-values">{{model.employee.book}}</p>
      <p class="employee-header">Skype:</p>
      <p class="employee-values">{{model.employee.skype}}</p>
      <p class="employee-header">Email:</p>
      <p class="employee-values" style="margin-bottom: 50px;">{{model.employee.email}}</p>
    </div>
      {{!-- <div>
        <div class="flex">{{high-charts chartOptions=chartOptions content=chartData}}</div>
        <div class="flex">{{high-charts chartOptions=chartOptions2 content=chartData2}}</div>
      </div> --}}
  </div>
{{/paper-card}}

<div class="page-nav">
  {{#paper-button class="page-nav__button page-nav__prev" raised=true onClick=(action "prevEmployee" model.employee)}}
    <div>{{paper-icon "navigate-before" class="page-nav__icons"}}</div>
  {{/paper-button}}
  {{#paper-button class="page-nav__button page-nav__next" raised=true onClick=(action "nextEmployee" model.employee)}}
    <div>{{paper-icon "navigate-next" class="page-nav__icons"}}</div>
  {{/paper-button}}
</div>

