{{#paper-card as |card|}}
  {{#card.title as |title|}}
    <div class="employee-card layout-row layout-sm-column layout-xs-column">
      <div class="employee-card__left-box flex-30">
        {{title.media size="lg" src="{{employee.image}}" alt="Tomster" title="Tomster"}}
      </div>
      <div class="employee-card__right-box flex-70">
        {{#title.text as |text|}}
          {{#text.headline}}{{employee.firstName}} {{employee.lastName}}{{/text.headline}}
          {{#text.subhead}}
          <p>{{employee.position}}</p>
          <p>{{employee.team}}</p>
          {{/text.subhead}}
        {{/title.text}}
      </div>
    </div>
  {{/card.title}}
{{/paper-card}}
