{{!-- wrapper should be in component --}}
<div class="article__wrapper">
  {{#paper-card as |card|}}
      {{#card.header as |header|}}
        {{!-- {{card.image src="" alt="NewsMainImage" title="NewsMainImage"}} --}}
        {{!-- <img src='{{{getFirstImage model.article.body}}}' class="article__image"> --}}
      {{/card.header}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}{{model.article.title}}{{/text.headline}}
          {{#text.subhead}}{{model.article.date}}{{/text.subhead}}
          {{#text.subhead}}by {{model.article.author}}{{/text.subhead}}
        {{/title.text}}
      {{/card.title}}
      {{#card.content}}
        {{{model.article.body}}}
    {{/card.content}}
  {{/paper-card}}
{{!--{{#paper-button onClick=(route-action 'visitLastRoute')}}Back To Home Page{{/paper-button}}--}}
</div>