<img src="{{imgSource}}" alt="{{imgName}}" class="employee-avatar__image">
<div class="employee-avatar__overlay">
  <div class="employee-avatar__overlay-wrapper">
    {{!-- <img src="{{avatarSource}}" alt="{{imgName}}" class="employee-avatar__overlay-image"> --}}
    <img src="http://q1q1.eu/employees/webroot/images/b58657f40fc847a5a5d870c052bae86f.jpg" alt="{{imgName}}" class="employee-avatar__overlay-image">
  </div>
</div>