<div style="margin-top:64px">
  <div class="layout-row layout-sm-colum layout-xs-column">
    {{paper-input class="flex" label="First Name:" type="text" value=data.firstName onChange=(action (mut data.firstName))}}
    {{paper-input class="flex" label="Last Name:" type="text" value=data.lastName onChange=(action (mut data.lastName))}}
  </div>
  <div class="layout-row layout-sm-colum layout-xs-column">
    {{paper-input class="flex" label="Position:" type="text" value=data.position onChange=(action (mut data.position))}}
    {{paper-input class="flex" label="Team:" type="text" value=data.team onChange=(action (mut data.team))}}
  </div>
    <div class="layout-row layout-sm-colum layout-xs-column">
    {{paper-input class="flex" label="Start date:" type="text" value=data.startDate onChange=(action (mut data.startDate))}}
    {{paper-input class="flex" label="Birthday:" type="text" value=data.birthday onChange=(action (mut data.birthday))}}
  </div>
  <div class="layout-row">
    {{paper-input class="flex" textarea=true block=true label="Message:" maxlength=150 passThru=(hash rows=5 maxRows=5) value=data.message onChange=(action (mut data.message))}}
  </div>
  <div class="layout-row layout-align-end-center">
    {{#paper-button raised=true}}<div onClick={{action (route-action "createEmployee" data)}}>Add</div>{{/paper-button}}
  </div>
</div>
{{!-- <div class="container">
    <form>
    <ul class="flex-outer">
      <li>
        <label for="first-name">First Name:</label>
        <input type="text" id="first-name" placeholder="Enter your first name here">
      </li>
      <li>
        <label for="last-name">Last Name:</label>
        <input type="text" id="last-name" placeholder="Enter your last name here">
      </li>
      <li>
        <label for="position">Position:</label>
        <input type="text" id="position" placeholder="Enter your position here">
      </li>
      <li>
        <label for="team">Team:</label>
        <input type="text" id="team" placeholder="Enter your team here">
      </li>
      <li>
        <label for="start-date">Start day:</label>
        <input type="number" id="start-date" placeholder="Enter your start date here">
      </li>
      <li>
        <label for="birthday">Birthday:</label>
        <input type="number" id="birthday" placeholder="Enter your birthday here">
      </li>
      <li>
        <label for="message">Message:</label>
        <textarea rows="6" id="message" placeholder="Enter your message here"></textarea>
      </li>
      <li>
        <button type="submit">Submit</button>
      </li>
    </ul>
  </form>
</div> --}}
