{{#paper-content class="md-padding centred-form"}}
    {{input placeholder="First Name" type="text" value=data.firstName}}
    {{input placeholder="Last Name" type="text" value=data.lastName}}
    {{input placeholder="Position" type="text" value=data.position}}
    {{input placeholder="Team" type="text" value=data.team}}
    {{input placeholder="Start date" type="text" value=data.startDate}}
    {{input placeholder="Birthday" type="text" value=data.birthday}}
    {{#paper-button}}<div onclick={{action (route-action "createEmployee" data)}}>Add</div>{{/paper-button}}
{{/paper-content}}
<div class="container">
    <form>
    <ul class="flex-outer">
      <li>
        <label for="first-name">First Name:</label>
        <input type="text" id="first-name" placeholder="Enter your first name here">
      </li>
      <li>
        <label for="last-name">Last Name:</label>
        <input type="text" id="last-name" placeholder="Enter your last name here">
      </li>
      <li>
        <label for="position">Position:</label>
        <input type="text" id="position" placeholder="Enter your position here">
      </li>
      <li>
        <label for="team">Team:</label>
        <input type="text" id="team" placeholder="Enter your team here">
      </li>
      <li>
        <label for="start-date">Start day:</label>
        <input type="number" id="start-date" placeholder="Enter your start date here">
      </li>
      <li>
        <label for="birthday">Birthday:</label>
        <input type="number" id="birthday" placeholder="Enter your birthday here">
      </li>
      <li>
        <label for="message">Message:</label>
        <textarea rows="6" id="message" placeholder="Enter your message here"></textarea>
      </li>
      <li>
        <button type="submit">Submit</button>
      </li>
    </ul>
  </form>
</div>
