<div class="layout-row layout-xs-column">
    {{#paper-card as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}{{new.title}}{{/text.headline}}
          {{#text.subhead}}
          <div>
            <p>{{new.date}}</p>
            <p>{{new.body}}</p>
          </div>
          {{/text.subhead}}
        {{/title.text}}
          {{!-- {{card.image class="" src="{{new.image}}" alt="Washed Out"}} --}}
         <img class="" src="{{new.image}}" alt="{{new.title}}" title="{{new.title}}">
      {{/card.title}}
      {{#card.actions}}
        {{#paper-button}}Read More{{/paper-button}}
      {{/card.actions}}
    {{/paper-card}}
</div>
