<div class="layout-row layout-xs-column">
    {{#paper-card as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}{{singleNews.title}}{{/text.headline}}
          {{#text.subhead}}
          <div>
            <p>{{singleNews.author}}</p>
            <p>{{singleNews.date}}</p>
            <p>{{{singleNews.body}}}</p>
          </div>
          {{/text.subhead}}
        {{/title.text}}
         {{!-- <img style="max-width:512px;max-height:512px" class="" src="{{singleNews.image}}" alt="{{singleNews.title}}" title="{{singleNews.title}}"> --}}
      {{/card.title}}
      {{#card.actions}}
        {{!-- {{#paper-button}}Read More{{/paper-button}} --}}
      {{/card.actions}}
    {{/paper-card}}
</div>
