{{#data-table data=data classNames=tableClassNames as |t|}}
  {{#t.column propertyName='Image' name='Image'}}
    {{!-- src="{{rootURL}}/assets/images/{{col.row.image}}.png" --}}
    <img src="https://cdn.pixabay.com/photo/2016/11/18/23/38/child-1837375__340.png" style="width:32px;height:32px;">
  {{/t.column}}
  {{t.column propertyName='title' name='Title'}}
  {{t.column propertyName='author' name='Author'}}
  {{t.column propertyName='date' name='Date'}}
  {{t.column propertyName='body' name='Body'}}
  {{#t.column as |col|}}
    {{#if col.body}}
      <button class="button btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" onclick={{action 'toggleDetail' col.rowIndex}} >
        {{#if (eq col.rowIndex rowIndexToShowDetail)}}
          Hide
        {{else}}
          Edit
        {{/if}}
      </button>
    {{/if}}
  {{/t.column}}
  {{#t.extraRow as |er|}}
    {{#if (eq er.rowIndex rowIndexToShowDetail)}}
      <td colspan="5">
        <div class="layout-row flex">
          <div class="flex">ID:</div>
          <div class="flex">{{er.row.id}}</div>
        </div>
        <div class="layout-row flex">
          <div class="flex">Title:</div>
          <div class="flex">{{input value=(readonly er.row.title) name='title' key-up=(action 'onnickupdate')}}</div>
        </div>
        <div class="layout-row flex">
          <div class="flex">Author:</div>
          <div class="flex">{{input value=(readonly er.row.author) name='author' key-up=(action 'onnickupdate')}}</div>
        </div>
        <div class="layout-row flex">
          <div class="flex">Date:</div>
          <div class="flex">{{input value=(readonly er.row.date) name='date' key-up=(action 'onnickupdate')}}</div>
        </div>
        <div class="layout-row flex">
          <div class="flex">Body:</div>
          <div class="flex">{{input value=(readonly er.row.body) name='body'key-up=(action 'onnickupdate')}}</div>
        </div>
        <div class="layout-row flex">
          <button class="btn btn-primary flex" data-toggle="button" aria-pressed="false" autocomplete="off" onclick={{action 'saveChanges' er}}>Save</button>
          <button class="btn btn-primary flex" data-toggle="button" aria-pressed="false" autocomplete="off" onclick={{action 'discardChanges' er}}>Discard</button>
          <button class="btn btn-primary flex" data-toggle="button" aria-pressed="false" autocomplete="off" onclick={{action 'deleteChanges' er}}>Delete</button>
        </div>
      </td>
    {{/if}}
  {{/t.extraRow}}
{{/data-table}}
