{{#data-table class="news-table-manager" data=data classNames=tableClassNames as |t|}}
  {{#t.column class="news-table-manager__columns" as |col|}}
    {{#if col.body}}
      <img src="{{col.row.image}}" alt="{{col.row.title}}" class="news-table-manager__image">
    {{/if}}
  {{/t.column}}
  {{t.column class="news-table-manager__columns hidden-xs" propertyName='title' name='Title'}}
  {{t.column class="news-table-manager__columns hidden-xs hidden-sm" propertyName='author' name='Author'}}
  {{t.column class="news-table-manager__columns hidden-xs hidden-sm" propertyName='date' name='Date'}}
  {{t.column class="news-table-manager__columns" propertyName='body' name='Body'}}
  {{#t.column class="employees-table-manager__columns" as |col|}}
    {{#if col.body}}
      <button class="button btn btn-info" data-toggle="button" aria-pressed="false" autocomplete="off" onclick={{action 'toggleDetail' col.rowIndex}} >
        {{#if (eq col.rowIndex rowIndexToShowDetail)}}
          Hide
        {{else}}
          Edit
        {{/if}}
      </button>
    {{/if}}
  {{/t.column}}
  {{#t.extraRow as |er|}}
    {{#if (eq er.rowIndex rowIndexToShowDetail)}}
      <td colspan="5">
        <div class="news-table-manager__rows layout-row layout-align-center-center">
          <div class="news-table-manager__rows-text flex-15">ID:</div>
          <div class="flex-50">{{er.row.id}}</div>
        </div>
        <div class="news-table-manager__rows layout-row layout-align-center-center">
          <div class="news-table-manager__rows-text flex-15">Title:</div>
          <div class="flex-50">{{input value=(readonly er.row.title) class="form-control" name='title' key-up=(action 'onValueUpdate')}}</div>
        </div>
        <div class="news-table-manager__rows layout-row layout-align-center-center">
          <div class="news-table-manager__rows-text flex-15">Author:</div>
          <div class="flex-50">{{input value=(readonly er.row.author) class="form-control" name='author' key-up=(action 'onValueUpdate')}}</div>
        </div>
        <div class="news-table-manager__rows layout-row layout-align-center-center">
          <div class="news-table-manager__rows-text flex-15">Date:</div>
          <div class="flex-50">{{pikaday-input readonly="readonly" value=er.row.date format="YYYY-MM-DD" class="form-control" name='date' onSelection=(action 'updateDate')}}</div>
        </div>
        <div class="news-table-manager__rows layout-row layout-align-center-center">
          <div class="news-table-manager__rows-text flex-15">Body:</div>
          <div class="flex-50">{{textarea rows="10" value=(readonly er.row.body) class="form-control" name='body'key-up=(action 'onValueUpdate')}}</div>
        </div>
        <div class="layout-row flex">
          <div class="flex">Image:</div>
          <div class="flex">
            {{#file-upload name="avatar"
                        accept="image/*"
                        onfileadd=(action 'setAvatar' data)}}
              {{#if data.avatar}}
                <img src={{data.avatar.url}}>
                <a id="upload-avatar" tabindex=0>Image has been loaded.</a>
              {{else}}
                <a id="upload-avatar" tabindex=0>Add a photo of yourself.</a>
              {{/if}}
            {{/file-upload}}
          </div>
        </div>
        <div class="news-table-manager__btns layout-row layout-align-center-center">
          <button class="news-table-manager__btn btn btn-success" data-toggle="button" aria-pressed="false" autocomplete="off" onclick={{action 'saveChanges' er}}>Save</button>
          <button class="news-table-manager__btn btn btn-secondary" data-toggle="button" aria-pressed="false" autocomplete="off" onclick={{action 'discardChanges' er}}>Discard</button>
          <button class="news-table-manager__btn btn btn-danger" data-toggle="button" aria-pressed="false" autocomplete="off" onclick={{action 'deleteNews' er}}>Delete</button>
        </div>
      </td>
    {{/if}}
  {{/t.extraRow}}
{{/data-table}}

