  {{#paper-sidenav
    class="navigation-sidenav md-whiteframe-z2"
    name="left"
    position="left"
    open=rightSideBarOpen
    lockedOpen=false
    onToggle=(action (mut rightSideBarOpen))}}
    {{#paper-toolbar class="navigation-sidenav__logo layout-row layout-align-center-center" as |toolbar|}}
      <img src="/assets/images/logos.gif" alt="gemSeek/cQuest">
    {{/paper-toolbar}}
    {{paper-divider}}
    {{#paper-content padding=true}}
      <div class="navigation-sidenav__item layout-row">
        {{#link-to "home" class="navigation-sidenav__item-row"}}
          {{paper-icon "home" class="navigation-sidenav__item-icon"}}
          <span class="navigation-sidenav__item-text">Home</span>
        {{/link-to}}
      </div>
      {{paper-divider}}
      {{!-- <div class="navigation-sidenav__item layout-row">
        {{#link-to "map" class="navigation-sidenav__item-row"}}
          {{paper-icon "streetview" class="navigation-sidenav__item-icon"}}
          <span class="navigation-sidenav__item-text">Map</span>
        {{/link-to}}
      </div> --}}
      {{!-- <div class="navigation-sidenav__item layout-row">
        {{#link-to "statistics" class="navigation-sidenav__item-row"}}
          {{paper-icon "equalizer" class="navigation-sidenav__item-icon"}}
          <span class="navigation-sidenav__item-text">Statistics</span>
        {{/link-to}}
      </div> --}}
      <div class="navigation-sidenav__item layout-row">
        {{#link-to "articles.index" class="navigation-sidenav__item-row"}}
          {{!-- {{paper-icon "import-contacts" class="navigation-sidenav__item-icon"}} --}}
          <img src="/assets/images/newspaper.svg">
          <span class="navigation-sidenav__item-text">News</span>
        {{/link-to}}
      </div>
      <div class="navigation-sidenav__item layout-row">
        {{#link-to "employees.index" class="navigation-sidenav__item-row"}}
          {{paper-icon "group" class="navigation-sidenav__item-icon"}}
          <span class="navigation-sidenav__item-text">Employees</span>
        {{/link-to}}
      </div>
      {{!-- <div class="navigation-sidenav__item layout-row">
        {{#link-to "benefits.index" class="navigation-sidenav__item-row"}}
          {{paper-icon "folder-shared" class="navigation-sidenav__item-icon"}}
          <span class="navigation-sidenav__item-text">Benefits</span>
        {{/link-to}}
      </div> --}}
      {{paper-divider}}
      <div class="navigation-sidenav__item layout-row">
        {{#link-to "hr-folder.hr-newsletter" class="navigation-sidenav__item-row"}}
          <img src="/assets/images/newsletter.svg">
          <span class="navigation-sidenav__item-text">Newsletter</span>
        {{/link-to}}
      </div>
      <div class="navigation-sidenav__item layout-row">
        {{#link-to "hr-folder.hr-first" class="navigation-sidenav__item-row"}}
          <img src="/assets/images/team-first.png">
          <span class="navigation-sidenav__item-text">Team F1rst</span>
        {{/link-to}}
      </div>
      <div class="navigation-sidenav__item layout-row">
        {{#link-to "hr-folder.hr-documents" class="navigation-sidenav__item-row"}}
          <img src="/assets/images/documents.svg">
          <span class="navigation-sidenav__item-text">Documents</span>
        {{/link-to}}
      </div>

      <div class="navigation-sidenav__item layout-row">
        {{#link-to "hr-folder.hr-recruitment" class="navigation-sidenav__item-row"}}
          <img src="/assets/images/recruitment.svg">
          <span class="navigation-sidenav__item-text">Recruitment</span>
        {{/link-to}}
      </div>
      <div class="navigation-sidenav__item layout-row">
        {{#link-to "hr-folder.hr-practicies" class="navigation-sidenav__item-row"}}
          <img src="/assets/images/training.svg">
          <span class="navigation-sidenav__item-text">Good Practicies</span>
        {{/link-to}}
      </div>
      {{!-- {{paper-divider}} --}}
      {{!-- <div class="navigation-sidenav__item layout-row">
        {{#link-to "benefits.index" class="navigation-sidenav__item-row"}}
          {{paper-icon "folder-shared" class="navigation-sidenav__item-icon"}}
          <img src="/assets/images/gemroad.svg">
          <span class="navigation-sidenav__item-text">Gemroad</span>
        {{/link-to}}
      </div> --}}
      {{!-- <div class="navigation-sidenav__item layout-row">
        {{#link-to "benefits.index" class="navigation-sidenav__item-row"}}
          {{paper-icon "folder-shared" class="navigation-sidenav__item-icon"}}
          <img src="/assets/images/pitch.svg">
          <span class="navigation-sidenav__item-text">GemPitch</span>
        {{/link-to}}
      </div> --}}
      {{!-- <div class="navigation-sidenav__item layout-row">
        {{#link-to "benefits.index" class="navigation-sidenav__item-row"}}
          {{paper-icon "folder-shared" class="navigation-sidenav__item-icon"}}
          <img src="/assets/images/welcome.svg">
          <span class="navigation-sidenav__item-text">Welcome Pack</span>
        {{/link-to}}
      </div> --}}
      {{paper-divider}}
      {{#if session.isAuthenticated}}
        <div class="navigation-sidenav__item layout-row">
          {{#link-to "login.news" class="navigation-sidenav__item-row"}}
            {{paper-icon "settings" class="navigation-sidenav__item-icon"}}
            <span class="navigation-sidenav__item-text">Edit News</span>
          {{/link-to}}
        </div>
        <div class="navigation-sidenav__item layout-row">
          {{#link-to "login.employees" class="navigation-sidenav__item-row"}}
            {{paper-icon "settings" class="navigation-sidenav__item-icon"}}
            <span class="navigation-sidenav__item-text">Edit Employees</span>
          {{/link-to}}
        </div>
        <div class="navigation-sidenav__item layout-row">
          {{#link-to "login.settings" class="navigation-sidenav__item-row"}}
            {{paper-icon "library-add" class="navigation-sidenav__item-icon"}}
            <span class="navigation-sidenav__item-text">Settings</span>
          {{/link-to}}
        </div>
        {{paper-divider}}
        <div class="navigation-sidenav__item layout-row">
          <a {{action 'invalidateSession'}} class="navigation-sidenav__item-row">
            {{paper-icon "account-circle" class="navigation-sidenav__item-icon"}}
            <span class="navigation-sidenav__item-text">Logout</span>
          </a>
        </div>
      {{else}}
        <div class="navigation-sidenav__item layout-row">
          {{#link-to "login" class="navigation-sidenav__item-row"}}
            {{paper-icon "account-circle" class="navigation-sidenav__item-icon"}}
            <span class="navigation-sidenav__item-text">Login</span>
          {{/link-to}}
        </div>
      {{/if}}
    {{/paper-content}}
  {{/paper-sidenav}}
