<img src="https://image.flaticon.com/icons/svg/181/181489.svg" alt="Birthday" class="employee-birthday__notification">
<div class="employee-birthday__overlay">
  <span class="employee-birthday__counter">2</span>
  <span class="employee-birthday__counter">{{birthdaysCount}}</span>

  {{#attach-popover class="employee-birthday__popper"
                    animation="none"
                    hideOn='clickout'
                    isShown=false
                    showOn='click'}}
    {{#each birthdays as |birthday|}}
      <div class="employee-birthday__attacher layout-row layout-align-start-center;" onClick={{route-action "visitEmployee" birthday}}>
        <img class="employee-birthday__attacher-photo" src="{{birthday.image}}" alt="{{birthday.firstName}} {{birthday.lastName}}">
        <div class="employee-birthday__attacher-text">
          <span class="employee-birthday__attacher-text-name">{{birthday.firstName}} {{birthday.lastName}}</span><br>
          <span class="employee-birthday__attacher-text-date">{{birthday.birthday}}</span>
        </div>
      </div>
    {{/each}}
  {{/attach-popover}}
</div>
